@import '../../../styles/constants.scss';




.container {
    min-height: 70vh ;
    display: flex;
    justify-content: center;

    .wallet_payment_card {
        height: 200px;
        width: 50%;
        border: 2px solid $grey;
        padding: 0.5rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            font-size: 1.5rem;
            color: $gradient1;
            text-align: center;
            font-weight: 500;
        }

        h5 {
            font-size: 1rem;
            font-weight: 500;

            span.amount {
                font-size: 1.5rem;
                color: $gradient1;
            }
        }
    }
}