@import "../../../styles/constants.scss";

h2.header__text {
    font-size: 1.5rem;
    color: orangered;
    font-weight: $fw-bold;
    text-align: center;
    margin: 0;
}

.container {
    height: 150px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}