<h2 class="page_header">Track your transanction</h2>

<h3>Track By Mobile No.</h3>
<div class="row">
    <mat-form-field class="form__field" appearance="standard">
        <mat-label>Enter Mobile No.</mat-label>
        <input matInput type="text">
    </mat-form-field>

    <mat-form-field class="form__field" appearance="standard">
        <mat-label>Select Start Date</mat-label>
        <input matInput [matDatepicker]="picker" readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>        
    </mat-form-field>
    
    <mat-form-field class="form__field" appearance="standard">
        <mat-label>Select To Date</mat-label>
        <input matInput [matDatepicker]="picker2" readonly>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>    
    </mat-form-field>

</div>



<div class="row">
    <button class="btn primary" type="button">Search by Mobile No.</button>
</div>

<div class="divider">Or</div>

<h3 class="heading_transnum">Track By Transaction No.</h3>


<div class="row w50">
    <mat-form-field class="form__field" appearance="standard">
        <mat-label>Enter Transaction No</mat-label>
        <input matInput type="text">
    </mat-form-field>

</div>

<div class="row">
    <button class="btn primary" type="button">Search by Transaction No.</button>
</div>
