@import '../../../styles/constants.scss';



.heading_info {
    opacity: 0.8;
    margin: 0;
    margin-bottom: 1rem;
}

.container {
    border-top: 1px solid #ccc;
    display: flex;
  
    .form-area {
        flex: 2;
        display: flex;

        form {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            width: 70%;
            margin: 0 auto;

            .button_container {
                display: flex;
                width: 50%;
                margin: 0 auto;
                justify-content: center;
                gap: 1rem;     
                
                
            }


        }
    }
    .instruction {
        flex: 1;
        border-left: 1px solid #ccc;
        padding: 1rem;

        ol {
            margin-left: 2rem;
            li {
                opacity: 0.8;
                font-size: 0.8rem;
            }
        }
    }
}