<h3 class="heading">Change Account Password</h3>
<p class="heading_info">Follow the password policy to change the password.</p>
<div class="container">
    <div class="form-area">
        <form [formGroup]="changePasswordForm" (submit)="onSubmit()">
            <mat-form-field class="form__input">
                <input matInput placeholder="Current Password" type="password" formControlName="current">
              </mat-form-field>

              <mat-form-field class="form__input">
                <input matInput placeholder="New Password" type="password" formControlName="new">
              </mat-form-field>

              <mat-form-field class="form__input">
                <input matInput placeholder="Confirm New Password" type="password" formControlName="cnew">
              </mat-form-field>
              <div class="button_container">
                  <button type="submit" class="btn primary">Update</button>
                  <button type="button" class="btn secondary" (click)="formClear()">Clear</button>
                </div>
        </form>
    </div>
    <div class="instruction"> 
        <h6>Steps to change your password</h6>
        <ol>
            <li>Enter your current password.</li>
            <li>Enter the new password.</li>
            <li>Enter the new password again to confirm.</li>
            <li>Click on Update to change your password.</li>
        </ol>
    </div>
</div>