<div class="">
    <ng-container *ngIf="!showEnrollmentForm">
        <h2 class="page__header">Aadhar Service</h2>
        <p>Welcome to the Aadhar Service Enrollment. 
            This section lets you enroll for becoming an Aadhar Service Operator or Supervisor. 
            After you have successfully enrolled for the role please wait for administrators approval. 
            One of our administrators will approve your enrollment request after validating the details and documents.
            The approval process may take couple of weeks.            
        </p>

        <p>
            If you have already initiated the enrollment process please click on 'Upload Documents' to upload the necessary documents.
        </p>
    </ng-container>
         

    <form *ngIf="!showStatus && !showEnrollmentForm" [formGroup]="checkAadharFormGroup">
        <mat-form-field class="col-sm-12 offset-md-4 col-md-4 offset-lg-4 col-lg-4" appearance="standard">
            <mat-label>Have you used aadhar services before?</mat-label>
            <mat-select formControlName="haveUsedAadhar">
                <mat-option value="no">No</mat-option>
                <mat-option value="yes">Yes</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="checkAadharFormGroup.get('haveUsedAadhar')?.value === 'yes'" class="col-sm-12 offset-md-4 col-md-4 offset-lg-4 col-lg-4" appearance="standard">
            <mat-label>Please enter your User ID</mat-label>
            <input matInput type="text" formControlName="userId">
            <mat-error *ngIf="checkAadharFormGroup.get('userId')?.invalid">Please enter a valid User ID</mat-error>
        </mat-form-field>


        <mat-form-field *ngIf="checkAadharFormGroup.get('userId')?.valid" class="col-sm-12 offset-md-4 col-md-4 offset-lg-4 col-lg-4" appearance="standard">
            <mat-label>Please mention if the User ID/Account is active or not?</mat-label>
            <mat-select formControlName="isUserIdActive">
                <mat-option value="active">Active</mat-option>
                <mat-option value="de-active">De-Active</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="checkAadharFormGroup.get('isUserIdActive')?.value === 'de-active'" class="col-sm-12 offset-md-4 col-md-4 offset-lg-4 col-lg-4" appearance="standard">
            <mat-label>Select the reason of deactivation?</mat-label>
            <mat-select formControlName="deactiveReason">
                <mat-option value="suspended">Suspended</mat-option>
                <mat-option value="blacklisted">Blacklisted</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="checkAadharFormGroup.get('isUserIdActive')?.value === 'de-active'" class="col-sm-12 offset-md-4 col-md-4 offset-lg-4 col-lg-4" appearance="standard">
            <mat-label>No of months its deactivated/suspended for</mat-label>
            <input matInput type="text" formControlName="duration">
            <mat-error *ngIf="checkAadharFormGroup.get('duration')?.invalid">Please enter a valid no. of months</mat-error>

        </mat-form-field>

        <mat-form-field *ngIf="checkAadharFormGroup.get('isUserIdActive')?.value === 'de-active'" class="col-sm-12 offset-md-4 col-md-4 offset-lg-4 col-lg-4" appearance="standard">
            <mat-label>Date of deactivation/suspension</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfDeactivation" [max]="today">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="checkAadharFormGroup.get('duration')?.invalid">Please choose a date.</mat-error>

        </mat-form-field>

        <div class="col-sm-12 offset-md-4 col-md-4 offset-lg-4 col-lg-4">
            <button class="btn primary w-100" [disabled]="checkAadharFormGroup.invalid" (click)="onProceedClick()">Proceed</button>
        </div>

    </form>

    <ng-container *ngIf="!showEnrollmentForm && showStatus">
        <div class="d-flex justify-content-between align-items-center mt-4">
            <h3 class="status-label m-0">Your Aadhar Status: <span class="text-info">Initiated</span></h3>
            <button class="btn primary" (click)="showEnrollmentForm = true">Upload Documents</button>
        </div>
    </ng-container>
    <ng-container *ngIf="showEnrollmentForm">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="page__header">Upload Documents for Aadhar Service</h2>
            <button class="btn primary" (click)="showEnrollmentForm = false">Go Back</button>
        </div>
        <!-- <app-aadhar-enrollment-form></app-aadhar-enrollment-form> -->
        <app-aadhar-enrollment-form-stepper [aadharEnrolmentDetails]="aadharEnrolmentDetails"></app-aadhar-enrollment-form-stepper>
    </ng-container>
</div>