
<h4>Please enter below details to send money!</h4>
<div class="root__container">
    <form autocomplete="off" [formGroup]="sendMoneyForm" (submit)="onSubmit()">

        <div class="form__row">
            <mat-form-field class="form__field" appearance="standard">
                <mat-label>Choose recipient</mat-label>
                <mat-select formControlName="recipient">
                    <mat-option *ngFor="let recipient of recipients" [value]="recipient">{{recipient.recipientName}} ({{recipient.bankCode}} - {{recipient.bankAccountNumber}})</mat-option>
                </mat-select>
                <mat-error *ngIf="f['recipient']?.hasError('required')">Please choose recipient</mat-error>

              </mat-form-field>
        </div>
        <div class="form__row">
            <mat-form-field class="form__field" appearance="standard">
                <mat-label>Choose transaction type</mat-label>
                <mat-select formControlName="transactionType">
                    <mat-option value="IMPS">IMPS</mat-option>
                  <mat-option value="NEFT">NEFT</mat-option>
                </mat-select>
                <mat-error *ngIf="f['transactionType']?.hasError('required')">Please choose transaction type</mat-error>
              </mat-form-field>
        </div>
        <div class="form__row">
            <mat-form-field class="form__field" appearance="standard">
                <mat-label>Enter Amount</mat-label>
                <input matInput type="text" formControlName="amount">
                <mat-error *ngIf="f['amount']?.hasError('required')">Please enter amount</mat-error>
                <mat-error *ngIf="f['amount']?.hasError('pattern')">Please enter a valid amount</mat-error>
                <mat-error *ngIf="f['amount']?.hasError('invalidAmount')">Minimum amount must be Rs 100</mat-error>
            </mat-form-field>
        </div>
        <div class="form__row cta__container">
            <button type="submit" [disabled]="sendMoneyForm.invalid" class="btn primary">Send</button>
            <!-- <button type="button"  class="btn primary" (click)="getForm()">Click</button> -->
        </div>
    
    </form>
</div>