@import '../../../styles/constants.scss';



.container {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 70vw;


    section, div {
        display: flex;
        align-items: center;
        flex-direction: column;
            padding: 2rem;
            @media (max-width: $extra-x-small) {
                width: 100%;
                padding: 1rem;
              }
    }

    section {
        margin-top: 1rem;
        background-color: #fff;
        @media (max-width: $extra-x-small) {
           width: 100%;
          }
    }
}

h2.header__text {
    font-size: 1.5rem;
    color: $dark-grey;
    font-weight: $fw-bold;

    margin: 0;
}

p.info {
    margin-top: 1rem;
    opacity: 0.8;

    span {
        opacity: 1;
        font-weight: bold;
    }
}

input.otp_field {
    height: 3rem;
    letter-spacing: 1rem;
    text-align: center;
    font-size: 2rem;
    outline: none;
    border: 2px solid $gradient1;
    @media (max-width: $extra-x-small) {
        width: 100%;
      }
}

input[type="password"].pin_field {
    height: 2rem;
    letter-spacing: 0.75rem;
    text-align: center;
    font-size: 1.5rem;
    outline: none;
    border: 2px solid $gradient1;
    margin-bottom: 0.8rem;
}

input::-ms-clear, input::-ms-reveal {
    display: none !important;
}

p.otp_info {
    color: $blue;
    margin-top: 1rem;

}

button.validateotp {
    margin-top: 1rem;
}