<div class="header">
    <h4 mat-dialog-title [ngStyle]="style">{{data.header}}</h4>
</div>
<div mat-dialog-content>
    <p class="dialog-message" *ngIf="data.message" [ngClass]="{textCenter: data.tableType}">{{data.message}}</p>

    <table *ngIf="data.tableType == 'transactionDetail' && data.tableData">
        <tbody>
            <tr>
                <td>Recipient Name</td>
                <td>{{data.tableData.recipientName}}</td>
            </tr>
            <tr>
                <td>Recipient Account Number</td>
                <td>{{data.tableData.bankAccountNumber}}</td>
            </tr>
            <tr>
                <td>Recipient Bank Name</td>
                <td>{{data.tableData.bankName}}</td>
            </tr>
            <tr>
                <td>Recipient Bank IFSC</td>
                <td>{{data.tableData.ifsc}}</td>
            </tr>
            <tr>
                <td>Transfer Amount</td>
                <td>{{data.tableData.amount.toFixed(2)}}</td>
            </tr>
            <tr>
                <td>Conveyance Fee</td>
                <td>{{data.tableData.convFee.toFixed(2)}}</td>
            </tr>
            <tr class="total_amount">
                <td>Total Chargable Amount</td>
                <td>{{(+data.tableData.convFee + +data.tableData.amount).toFixed(2)}}</td>
            </tr>
        </tbody>
    </table>

    <table *ngIf="data.tableType == 'fundTransferSuccess' && data.tableData">
        <tbody>
            <tr>
                <td>Description</td>
                <td>{{data.tableData.respDesc}}</td>
            </tr>
            <tr>
                <td>Sender Mobile No.</td>
                <td>{{data.tableData.senderMobileNo}}</td>
            </tr>
            <tr>
                <td>Unique Reference ID</td>
                <td>{{data.tableData.uniqueRefId}}</td>
            </tr>
            <tr>
                <td>Bank Transaction ID</td>
                <td>{{data.tableData.bankTxnId}}</td>
            </tr>
            <tr>
                <td>Reference ID</td>
                <td>{{data.tableData.refId}}</td>
            </tr>
            <tr>
                <td>Recipient Name</td>
                <td>{{data.tableData.impsName}}</td>
            </tr>
            <tr>
                <td>Transaction Amount</td>
                <td>{{+data.tableData.txnAmount / 100}}</td>
            </tr>
            <tr>
                <td>Conveyance Fee</td>
                <td>{{+data.tableData.custConvFee / 100}}</td>
            </tr>
            <tr>
                <td>Transaction Status</td>
                <td>{{data.tableData.txnStatus}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div mat-dialog-actions align="end" class="mat-dialog-action">
    <button *ngIf="data.showCancelButton" class="btn secondary" (click)="close(false)">Cancel</button>
    <button class="btn primary" (click)="close(true)">OK</button>
</div>