<div class="tab-nav-back">
    <button class="header__title-button" mat-mini-fab  color="primary" (click)="goBackMobileSearchScreen()">
        <mat-icon class="header__title-button-icon">arrow_back</mat-icon>
      </button>
    <h2 class="header__text">Showing tariff details for <span>{{mobile_search.currentMobileNumber}}</span> ({{mobile_search.currentOperator}})</h2>
</div>

<mat-tab-group *ngIf="rechargePlans.length > 0" dynamicHeight>
    <mat-tab *ngFor="let rechargePlan of rechargePlans" [label]="rechargePlan.planName">
        <mat-card *ngFor="let plan of rechargePlan.plans" class="plan__card">
            <mat-card-title>₹ {{plan.amount}}

                <button class="btn primary select_btn" (click)="openPinDialog(plan.amount)">Select</button>
            </mat-card-title>
            <mat-card-subtitle>Talktime : {{plan.talktime}}</mat-card-subtitle>
            <mat-card-content>
                <h6 class="plan__card__description__heading">Description</h6>
                <p class="plan__card__description__content">{{plan.description}}</p>
            </mat-card-content>
        </mat-card>

    </mat-tab>
</mat-tab-group>