@import "../../../styles/constants.scss";

h2.header__text {
  font-size: 1.5rem;
  color: $dark-grey;
  font-weight: $fw-bold;
  //   text-align: center;
  margin-top: 1rem;
}

.plan__card {
  margin: 0.7rem 0;
  color: $dark-grey;

  mat-card-title {
    color: $primary-blue;

    div.card__title {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      p {
        padding: 0;
        margin: 0;
      }
    }
  }

  
  &__description__heading {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  &__description__content {
    font-size: 0.8rem;
    opacity: 0.8;
  }

  button.select_btn {
    position: absolute;
    right: 16px;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}
.tab-nav-back {
  display: flex;
  justify-content: left;
  flex-wrap: nowrap;
  align-items: center;

  span{
    color: $blue;
  }
  button {
    margin-right: 1rem;
  }
}


.search_container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  input[type="search"] {
    width: 300px;
    border: 2px solid $gradient1;
    outline: none;
    font-size: 1rem;
    color: $gradient1;
    padding: 0.5rem 0.5rem;
    background: transparent;
    border-radius: 1.25rem;
  }
}