
<div class="wallet-root-wrapper">
    <div class="wallet-recharge-wrapper">
        <div class="wallet-recharge-vector">
            <img src="./assets/wallet.png" alt="mob-recharge-vector">
        </div>
        <div class="wallet-recharge-window">
            <h2 class="header__text">Recharge your wallet</h2>
            <p class="header__subtext">Recharge your wallrt for quick and hessle free payments</p>
            <div class="form__container">
                <form #amountForm="ngForm" autocomplete="off" (submit)="onFormSubmit()">
                    <label for="amount">Recharge amount</label>
                    <div class="input__container">
                        <input type="text" id="amount" 
                        name="amount" [(ngModel)]="amount"
                        pattern="^[0-9]*(\.[0-9]{0,2})?$"
                        placeholder="Please enter the amount">
                    </div>
                    <div class="cta__container">
                        <button class="btn primary" [disabled]="amount === '' || amountForm.form.status === 'INVALID'" type="submit">Proceed for payment</button>
                    </div>
            
                </form>

            </div>
            <!-- <button class="btn primary" (click)="onCCClick()">CC Avenue</button> -->
        </div>
    </div>
</div>
