<h3 class="page__header">BBPS - Raise Complaint</h3>
<p class="page__header__info">We are very sorry for the inconvenience occured to you. Provide more details about the
    complaint to help you resolve
    the inconvenience.
</p>

<div class="page__baner">
    <h2>Enter below details to raise a complaint!</h2>
</div>

<div class="form_container">
    <div class="row">
        <mat-form-field class="form__field" appearance="standard">
            <mat-label>Choose Complain Type</mat-label>
            <mat-select>
                <mat-option value="1">Transaction</mat-option>
                <mat-option value="2">Service</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form__field" appearance="standard">
            <mat-label>Enter Mobile No.</mat-label>
            <input matInput type="text">
            <mat-error></mat-error>
        </mat-form-field>

        <mat-form-field class="form__field" appearance="standard">
            <mat-label>Participation Type</mat-label>
            <mat-select>
                <mat-option value="1">Transaction</mat-option>
                <mat-option value="2">Service</mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div class="row">
        <mat-form-field class="form__field" appearance="standard">
            <mat-label>Participation Type</mat-label>
            <mat-select>
                <mat-option value="1">Transaction</mat-option>
                <mat-option value="2">Service</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="form__field2">

            <label for="comp_desc">Description</label>
            <textarea id="comp_desc">  </textarea>
        </div>
    </div>

    <div class="row">
        <button class="btn primary" type="button">Register Complaint</button>
    </div>
</div>