@import '../../../styles/constants.scss';

.page__header {
    font-weight: 500;
    margin: 0;
}

.page__header__info {
    margin-top: 0.5rem;
    font-weight: bold;
    opacity: 0.8;
}

.page__baner {
    width: 100%;
    background-color: hsla(199, 98%, 50%, 0.2);
    padding: 0.5rem;
    h2 {
        font-size: 1.2rem;
        margin: 0;
    }
}

.form_container {
    .row {
        margin: 2rem 0;
        display: flex;
        gap: 1rem;
        align-items: flex-end;
        .form__field {
            flex: 1;
        }

        .form__field2 {
            flex: 2;
            label {
                display: block;
            }

            textarea {
                width: 100%;
                padding: 0.5rem;
            }
        }
    }

    textarea {
        margin-bottom: 1rem;
    }
}