

<!-- <app-carousel></app-carousel> -->

<div class="main__section">
  <div class="menu__cards">      
    <mat-card class="menu__card" *ngFor="let category of menu_categories.menuCategories">
      <h3 class="card__title">{{category.services_Name}}</h3>
      <ul class="menu">
        <li *ngFor="let service of category.services">
          <a [routerLink]="getRoutePath(service?.route)" [state]="getState(service)" (click)="onTileClick(service)">
            <div class="menu__container">
              <div class="menu__container__img__container">
                <img class="menu__image" [ngClass]="{'loanRepayment' : service.services_Cat_Name === 'Loan Repayment'}" [src]="getImagePath(service.services_Cat_ImagesName)">
              </div>
              <p class="menu__title">{{service.services_Cat_Name}}</p>
            </div>

          </a>
        </li>
      </ul>
    </mat-card>
  </div>
  
  <div class="add__cards">
    <mat-card class="add__card">
      <div class="image__container">
        <img src="./assets/carousel/add.jpg">
      </div>

      <div class="notice__section">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, numquam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, numquam.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, numquam.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, numquam.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, numquam.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, numquam.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, numquam.</p>

      </div>
    </mat-card>

  </div>
</div>
