@import '../../../styles/constants.scss';
.container {
    display: flex;
    justify-content: center;
    @media (max-width: $small) {
       flex-wrap: wrap;
      }

    .panel_left {
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        background: #fff;
        padding: 2rem;
        margin: 1rem;
        box-shadow: 1px 4px 7px -3px #d0d0d0;

        @media (max-width: $small) {
            flex-basis: 100%;
           }

    }

    .panel_right {
        width: 50%;
        background: #fff;
        padding: 2rem;
        margin: 1rem;
        box-shadow: 1px 4px 7px -3px #d0d0d0;
        @media (max-width: $small) {
            flex-basis: 100%;
           }
    }

    .bill_body {
        width: 100%;    
        .bill__header {
            font-size: 1.3rem;
            font-weight: 500;
            text-align: center;
        }

        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            &__left,&__right {
                width: 50%;
            }

            &__right {
                // text-align: right;
            }
            h3{
                font-size: 1rem;
                font-weight: 500;
                margin: 0;
            }

            p {
                font-size: 0.9rem;
                margin: 0;
            }
        }

        .amount__options {
            margin-top: 1rem;
            .amount__option {
                display: flex;
                justify-content: space-between;

                h3{
                    font-size: 1rem;
                    font-weight: 500;
                    margin: 0;
                }
    
            }
        }

        .payment_action {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            margin-top: 1rem;

            div {
                width: 50%;
            }

            div.payment_cta_container {
                text-align: right;
                button.payment_cta {
                    width: 100%;
                }
            }
        }
    }

    .form__field {
        display: block;
        width: 100%;
    }
    app-dynamic-form {
        width: 100%;
    }
    
}



.page_header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $small) {
        padding: 0.5rem;
       }
    h2 {
        margin: 0;
        font-size: 1.4rem;
        font-weight: 500;
        @media (max-width: $small) {
            font-size: 1rem;
           }
    }

    .form__field {
        width: 50%;
        padding-right: 1rem;
        mat-form-field {
            width: 100%;
        }
    }
    .image_container {
        width: 75px;
        height: 75px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.service-biller-back {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    button {
        margin-right: 1rem;
    }
}
