<div class="page_header">
  <div class="form__field">
    <mat-form-field *ngIf="!this.serviceName" appearance="standard">
      <mat-label>Choose Service</mat-label>
      <mat-select [formControl]="servicesSelectBox">
        <mat-option *ngFor="let service of allServices"
          [value]="service.searchValue">{{service.searchValue}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="service-biller-back">
      <button class="header__title-button" title="Go to Dashboard" mat-mini-fab color="primary"
        (click)="goToDashboard()">
        <mat-icon class="header__title-button-icon">arrow_back</mat-icon>
      </button>
      <h2 *ngIf="this.serviceName" class="page__header">Choose your biller to proceed for bill payment!</h2>
    </div>


  </div>

  <div class="image_container">
    <img src="assets/logo/Bharat Connect Primary Logo_PNG.png">
  </div>

</div>

<hr>

<h3 class="rt__header" *ngIf="previousTransactions.length > 0">Recent Transactions</h3>
<div class="last-transactions" *ngIf="previousTransactions.length > 0;">
  <div *ngFor="let trans of previousTransactions.slice(0,5)" class="last-transactions-card box-shadow" (click)="onRecentTransactionCardClick(trans)">
    <ng-container *ngIf="showLogoInRecentTransChips">
      <img [src]="'assets/logo/'+trans?.logo?.logo" alt="trans?.biller?.blr_name" />
    </ng-container>

    <div class="details">
        <strong class="amount"><p>Rs. {{trans?.amount}}</p></strong>
        <p *ngFor="let input of trans?.inputParam"> {{input['paramValue']}}</p>
    </div>

  </div>
</div>



<div class="container">
  <div class="panel_left box-shadow">
    <mat-form-field class="form__field" appearance="standard">
      <mat-label>Choose Biller</mat-label>
      <mat-select #billerSelectBox [formControl]="billerSelectBoxFC">
        <mat-option *ngFor="let biller of billers" [value]="biller">{{biller.blr_name}}</mat-option>
      </mat-select>
    </mat-form-field>


    <app-dynamic-form *ngIf="params && params.length > 0" 
      [params]="params" 
      (formSubmmited)="billFetch($event)"
      [disableCta]="isBillFetching" 
      [isBillFetchRequired]="isBillFetchRequired" 
      [prePopulateValue]="prePopulateValue"
      [prePopulateAmount]="prePopulateAmount"></app-dynamic-form>
  </div>

  <div *ngIf="billerResponse" class="panel_right box-shadow">
    <div *ngIf="billerResponse" class="bill_body">
      <h2 class="bill__header">Bill Details</h2>
      <div class="header">
        <div class="header__left">
          <h3>Customer Name</h3>

          <p>{{billerResponse.customerName}}</p>
        </div>

        <div class="header__right">
          <h3>Bill No</h3>
          <p>{{billerResponse.billNumber}}</p>
        </div>
      </div>
      <div class="header">
        <div class="header__left">
          <h3>Bill Date</h3>
          <p>{{billerResponse.billDate}}</p>
        </div>

        <div class="header__right">
          <h3>Bill Period</h3>
          <p>{{billerResponse.billPeriod | uppercase}}</p>
        </div>
      </div>
      <div class="header">
        <div class="header__left">
          <h3>Due Date</h3>
          <p>{{billerResponse.dueDate}}</p>
        </div>

        <div class="header__right">
          <h3>Bill Amount</h3>
          <h3> ₹ {{billerResponse.billAmount / 100}}</h3>
        </div>
      </div>

      <div class="amount__options">
        <div *ngFor="let amountOption of billerResponse?.amountOptions?.option" class="amount__option">
          <h3>{{amountOption.amountName}}</h3>
          <h3>{{amountOption.amountValue / 100}}</h3>
        </div>
      </div>

      <div *ngIf="additionalInfo" class="amount__options">
        <div class="amount__option">

          <ng-container *ngIf="+serviceCatId !== 3 && +serviceId !== 1">
            <h3>{{additionalInfo?.info[0].infoName}}</h3>
          </ng-container>

          <!-- For Fast tag dont add biillerresponse amount to additionalinfo amount  -->
          <h3 *ngIf="+serviceCatId === 23 && +serviceId === 4">{{additionalInfo?.info[0].infoValue.split(',').join('')}}
          </h3>

          <ng-container *ngIf="+serviceCatId !== 23 || +serviceId !== 4">
            <ng-container *ngIf="+serviceCatId !== 3 && +serviceId !== 1">
              <h3>{{+additionalInfo?.info[0].infoValue.split(',').join('') + +(billerResponse.billAmount / 100)}}</h3>
            </ng-container>
          </ng-container>



        </div>
      </div>

      <hr>
      <div class="payment_action">

        <div *ngIf="additionalInfo" class="payment_option">
          <mat-form-field class="form__field" appearance="standard">
            <mat-label>Amount to be paid</mat-label>
            <input matInput type="text" [(ngModel)]="amountToBePaid">
          </mat-form-field>
        </div>

        <div class="payment_cta_container">
          <button type="button" class="btn primary payment_cta" (click)="billPayWithBillFetch()">Pay Now</button>
        </div>
      </div>
    </div>

  </div>


</div>