@import '../../styles/constants.scss';

.container {
   min-width: 480px;
    h2.modal-title {
        font-size: 18px;
        text-align: center;
    }
}

.inputfield {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.input {
    height: 3em;
    width: 3em;
    border: 2px solid #dad9df;
    outline: none;
    text-align: center;
    font-size: 1.5em;
    border-radius: 0.3em;
    background-color: #ffffff;
    outline: none;
    /*Hide number field arrows*/
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:disabled {
  color: #89888b;
}
.input:focus {
  border: 3px solid $gradient1;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    margin-top: 1.5rem;

    div:first-child {
      display: flex;
      align-items: center;

      span {
        color: #89888b;
        cursor: not-allowed;
      }
    }
}