<div class="container" [style.minWidth]="containerWidth">
    <h2 class="modal-title">{{data.title}}</h2>
    <form (submit)="onSubmit()">
        <div class="inputfield" #inputContainer>
            <input *ngFor="let a of arr" [type]="inputType" maxlength="1" class="input" disabled #input/>
        </div>
        <mat-dialog-actions>
            <div class="buttons-container">
                <div>
                    <ng-container *ngIf="data?.showResendButton && resendOtpCount < 3">
                        <span *ngIf="resendTime !== 0; else resendOtpButton">Resend OTP after {{resendTime}} Sec</span>
                        <ng-template #resendOtpButton>
                            <button mat-raised-button color="primary" type="button" (click)="onOtpResend()">Resend Otp</button>
                        </ng-template>

                    </ng-container>
                </div>
                <div>
                    <button mat-raised-button color="primary" [disabled]="isButtonDisabled" type="submit">Submit</button>
                    <button mat-raised-button color="accent" type="button" (click)="onClose()">Cancel</button>
                </div>
            </div>
        </mat-dialog-actions>
    </form>
</div>