@import '../../../styles/constants.scss';

.menu__card {
    margin-top: 1rem;
    padding: 16px;
  
    .card__title {
      font-size: 1.5rem;
      font-weight: 500;
      color: #4a4a4a;
      margin: 0;
    }
  
    ul.menu {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 1rem;
      width: 100%;
      gap: 0.5rem;
      
      @media (min-width: $small) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
  
      li {
        @media (max-width: $extra-x-small) {
         width:4.4rem;
        }
        a,
        a:active,
        a:visited {
          text-decoration: none;
          color: $dark-grey;
        }
  
        list-style: none;
        width: 7rem;
        height  : 7rem;
        cursor: pointer;
        padding: 0.5rem 0;
        border: none;
        transition: all 0.3s;
        background-color: $gradient1;
        width: 7rem;
        height: 7rem;
  
        @media (min-width: $small) {
          max-width: 110px;
          border-radius: 0.5rem;
        }
  
        .menu__container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
  
          &__img__container {
            display: flex;
            justify-content: center;
            align-items: center;
            // aspect-ratio: 1;
            transition: all 0.3s;
  
            img {
              width: 50%;
            }
          }
  
          p.menu__title {
            margin: 0;
            margin-top: 0.3rem;
            bottom: 0;
            padding: 0;
            font-size: 0.8rem;
            text-align: center;
            font-weight: 500;
            color: $white;
          }
        }
  
        &:hover {
          .menu__container__img__container {
            border-color: $gradient1;
          }
  
          box-shadow: 5px 5px 15px $light-grey;
        }
      }
    }
  }