<form>

    <section class="form-section">
        <h3 class="form-sub-heading">Enter Aadhar Details</h3>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field class="w-100" appearance="standard">
                    <mat-label>Enter Aadhar No</mat-label>
                    <input matInput type="text">
                        <!-- <mat-error *ngIf="checkAadharFormGroup.get('userId')?.invalid">Please enter a valid User ID</mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field class="w-100" appearance="standard">
                    <mat-label>Enter Aadhar No</mat-label>
                    <input matInput type="text">
                        <!-- <mat-error *ngIf="checkAadharFormGroup.get('userId')?.invalid">Please enter a valid User ID</mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field class="w-100" appearance="standard">
                    <mat-label>Enter Aadhar No</mat-label>
                    <input matInput type="text">
                        <!-- <mat-error *ngIf="checkAadharFormGroup.get('userId')?.invalid">Please enter a valid User ID</mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field class="w-100" appearance="standard">
                    <mat-label>Enter Aadhar No</mat-label>
                    <input matInput type="text">
                        <!-- <mat-error *ngIf="checkAadharFormGroup.get('userId')?.invalid">Please enter a valid User ID</mat-error> -->
                </mat-form-field>
            </div>
        </div>
    </section>


</form>