@import '../../../styles/constants.scss';

nav {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;

  .image_container {
    // width: 75px;
    height: 75px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    li>a {
      padding: 0.5rem 1rem;
      display: inline-block;
      text-decoration: none;
      transition: 0.3s all;

      &.active {
        background-color: $gradient1;
        color: #fff;
      }
    }

    .arrow_back {
      color: $gradient1;
      transition: 0.5s;
      font-size: 24px;
      &:hover {
        cursor: pointer;
        // transform: scale(1.2);
      }
    }
  }
}
