<app-header (isShowSidebar)="toggleSidebar($event)"></app-header>


<mat-sidenav-container class="layout">
    <mat-sidenav #sidenav mode="side" class="layout-sidebar">
        <!-- <app-sidebar></app-sidebar> -->
        <app-sidebar2></app-sidebar2>
    </mat-sidenav>

    <mat-sidenav-content class="layout-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<footer>© Copyright 2023 Global e-Village Services India Ltd. All Rights Reserved.</footer>