<div class="card__container">
    <div class="card card_1">
        <span class="icon_container">
            <mat-icon>currency_rupee</mat-icon>
        </span>
        <p class="card_value">{{currentBalance}}</p>
        <span class="card_title">balance</span>
    </div>
    <div class="card card_2">
        <span class="icon_container">
            <mat-icon>people_alt</mat-icon>
        </span>
        <p class="card_value">XXXX</p>
        <span class="card_title">operators</span>
    </div>
    <div class="card card_3">
        <span class="icon_container">
            <mat-icon>currency_rupee</mat-icon>
        </span>
        <p class="card_value">XXXX</p>
        <span class="card_title">allocated</span>
    </div>
    <div class="card card_4">
        <span class="icon_container">
            <mat-icon>currency_rupee</mat-icon>
        </span>
        <p class="card_value">XXXX
            <!-- <a href="#"> Know more</a> -->
        </p>
        
        <span class="card_title">tentative tds 2022-23</span>
    </div>
</div>
<div class="cta_container">
    <button (click)="addMoney()">Add money to your wallet</button>
</div>


<div class="table_container">
    <h3>Transaction History</h3>
    <table>
        <thead>
            <tr>
                <th>Serial ID</th>
                <!-- <th>Transaction ID</th> -->
                <th>Transaction Date</th>
                <th>Transaction Amount</th>
                <th>Transaction Type</th>
                <th>Service</th>
                <th>Transaction Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let trans of lastTransaction; let i = index">
                <td>{{i + 1}}</td>
                <!-- <td>{{trans.wallet_transaction_ID}}</td> -->
                <td>{{trans.wallet_transaction_Date | date:'medium'}}</td>
                <td>{{trans.wallet_Amount}}</td>
                <td>{{trans.wallet_transaction_type}}</td>
                <td>{{trans.wallet_transaction_recall === 'ManiMulti' ? 'Prepaid Recharge' : trans.wallet_transaction_recall}}</td>
                <td>{{trans.wallet_transaction_Status}}</td>

            </tr>
        </tbody>
    </table>
</div>