@import "../../../styles/constants.scss";

.card__container {
  padding: 0 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  .card_1 {
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  }

  .card_2 {
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
  } 
  .card_3 {
    background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
  .card_4 {
    background: #20002c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #cbb4d4, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
  }
  @media (max-width: $medium) {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }

  .card {
    height: 150px;
    // border: 1px solid $grey;
    border-radius: 0.5rem;
    position: relative;

    box-shadow: 10px 10px 20px 0px rgba($color: #000, $alpha: 0.2);

    // background: linear-gradient(to  right, #49a09d,#ace0df);

    .icon_container {
      display: block;
      margin-top: 1rem;
      text-align: center;

      mat-icon {
        font-size: 2rem;
        color: $white;
      }
    }

    .card_title {
      display: block;
      text-align: center;
      font-size: 1rem;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0.3rem 0;
      position: absolute;
      width: 100%;
      bottom: 0.8rem;

      @media (max-width: $medium) {
        font-size: 0.8rem;
      }

    }

    p.card_value {
      text-align: center;
      font-size: 1.5rem;
      color: $white;

      a {
        display: block;
        font-size: 0.8rem;
        text-align: center;
        color: $primary-blue;
      }
    }

    &.card_1 {}

    &.card_2 {}

    &.card_3 {}

    &.card_4 {}


  }
}


.cta_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  button {
    width: 25%;
    outline: none;
    border: none;
    padding: 0.9rem 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    background: #0e2b6c;
    background: radial-gradient(circle, #0e2b6c 0%, #0e2b6c 100%);
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 5px 5px 10px $light-grey;
      // background: #49a09d;
    }

    @media (max-width: $medium) {
      padding: 1rem;
      font-size: 1.25rem;
      width: 100%;
    }

  }
}


.table_container {
  margin-top: 2rem;

  h3 {
    font-size: 1.2rem;
    text-align: center;
    color: $gradient1;
    margin-bottom: 0.25rem;
    text-align: left;
  }
  table {
    width: 100%;
    border-collapse: collapse;

    th {
      padding: 12px 0;
      text-align: left;
      background-color: #d7deed;
      color: #0e2b6c;
  
      
    }

    td,
    th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    tr {
      cursor: pointer;
    }
    tr:hover {
      background-color: #ccc;
    }
  }
}