<div class="card__container">
    <div class="card card_1">
        <span class="icon_container">
            <mat-icon>currency_rupee</mat-icon>
        </span>
        <p class="card_value">1059.00</p>
        <span class="card_title">balance</span>
    </div>
    <div class="card card_2">
        <span class="icon_container">
            <mat-icon>people_alt</mat-icon>
        </span>
        <p class="card_value">232</p>
        <span class="card_title">operators</span>
    </div>
    <div class="card card_3">
        <span class="icon_container">
            <mat-icon>currency_rupee</mat-icon>
        </span>
        <p class="card_value">50</p>
        <span class="card_title">allocated</span>
    </div>
    <div class="card card_4">
        <span class="icon_container">
            <mat-icon>currency_rupee</mat-icon>
        </span>
        <p class="card_value">56026
            <a href="#"> Know more</a>
        </p>
        
        <span class="card_title">tentative tds 2022-23</span>
    </div>
</div>
<div class="cta_container">
    <button>Add money to your wallet</button>
</div>

