@import "../../styles/constants.scss";

//== Sidebar

$sidebar-font-color: $gray-08;
$sidebar-font-color-active: $dark-grey;
$sidebar-background-color-active: $blue-white;
$sidebar-background-color-hover: $blue-white;
$sidebar-icon-color: $gray-06;
$sidebar-title-color: $sidebar-font-color;
$sidebar-circle-color: $light-grey;

$sidebar-background-dark-theme: #23232D;
$sidebar-background-hover-dark-theme: #13131A;
$sidebar-background-active-dark-theme: #13131A;
$sidebar-color-active-dark-theme: #D6D6D6;

@mixin sidebar($color) {
    $sidebar-icon-color-active: $color;
  
    .sidebar.mat-list-base {
      & .mat-list-item, .mat-menu-trigger {
        color: $sidebar-title-color;
  
        &.active {
          background-color: $sidebar-background-color-active;
          color: $sidebar-font-color-active;
  
          & .mat-icon {
            color: $sidebar-icon-color-active;
          }
        }
  
        &:hover {
          background-color: $sidebar-background-color-hover;
        }
      }
    }
  
    .mat-tree-node {
      & p {
        color: $sidebar-font-color;
      }
  
      &.active {
        background-color: $sidebar-background-color-active;
  
        & p {
          color: $sidebar-font-color-active;
        }
  
        & div.circle{
          background-color: $sidebar-icon-color-active;
        }
      }
  
      &[aria-expanded="true"] {
        & .mat-tree-item {
          & mat-icon:first-child {
            color: $sidebar-icon-color-active;
          }
  
          & p {
            color: $sidebar-font-color-active;
          }
        }
      }
    }
  }
  
.mat-list-base {
    border-bottom: 1px solid $gray-80;
    width: 100%;
    padding-bottom: 16px;
  
    &:last-child {
      border-top: 1px solid $gray-80;
    }
  
    & .mat-list-item {
      display: flex;
      cursor: pointer;
      width: auto;
      padding: 0 16px;
      font-size: $fs-small;
      height: 45px;
  
      &.active {
        outline: none;
      }
  
      &:focus {
        outline: none;
      }
    }
  }
  
  .mat-icon {
    margin-right: 24px;
    font-size: $fs-large;
    color: $sidebar-icon-color;
    padding: 0;
  }
  
  
  .sidebar-title {
    color: $sidebar-title-color;
    font-size: $fs-small;
    text-transform: uppercase;
    margin-top: 24px;
    margin-left: 36px;
    margin-bottom: 16px;
  }
  
  .mat-list-base .mat-list-item.ui-element {
    padding-left: 40px;
  }
  
  .circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $sidebar-circle-color;
    margin-left: 20px;
  }
  
  .project-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 34px;
    margin-left: 8px;
  
    &_yellow {
      background-color: $yellow;
    }
  
    &_blue {
      background-color: $blue;
    }
  
    &_pink {
      background-color: $pink;
    }
  }
  
  
  .mat-tree-item {
    display: flex;
    cursor: pointer;
    padding-left: 33px;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    align-items: center;
  
    & div {
      display: flex;
      align-items: center;
  
      & p {
        margin: 0;
  
        & span {
          width: auto;
          padding: 0 5px;
          border-radius: 32px;
          top: -14px;
          right: -30px;
          line-height: 16px;
          height: 16px;
        }
      }
      .nodejs-sup {
        span {
          right: -65px;
        }
      }
    }
  
    &>mat-icon {
      display: none;
    }
  }
  
  .mat-node {
    &:hover {
      & .mat-tree-item {
        & mat-icon {
          display: block;
        }
      }
    }
  }
  
  mat-tree-node {
    min-height: 45px;
    outline: none;
  
    &:hover {
      cursor: pointer;
      background-color: $sidebar-background-color-hover;
    }
  }
  
  mat-tree-node[aria-expanded="true"] {
    & .mat-tree-item {
      & mat-icon {
        display: block;
      }
    }
  }
  
  .mat-tree-second-item {
    display: flex;
    align-items: center;
  
    & div {
      margin-right: 20px;
    }
  
    & p {
      margin: 0;
    }
  }
  
  .rotateUp {
    transform: rotate(180deg);
    transition: transform .3s linear;
  }
  
  .rotateDown {
    transform: rotate(0deg);
    transition: transform .3s linear;
  }
  
  .mat-badge-content {
    font-weight: $fw-normal;
  }
  
  
  .add-section-wrapper, .chat-section-wrapper {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    margin-bottom: -8px;
  }
  
  .chat-section-wrapper {
    padding: 8px 16px 16px 0;
  }
  
  .add-icon-wrapper, .chat-icon-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $pink;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 24px 0 12px;
  }
  
  .chat-icon-wrapper {
    width: 45px;
    height: 45px;
    background-color: $blue;
    margin-right: 8px;
    margin-left: 0;
  }
  
  .add-icon, .chat-icon {
    color: $white;
    margin: 0;
  }
  
  .add-section-title, .chat-section-title {
    margin: 0;
  }
  
  .add-section-menu {
    background-color: $light-blue;
    padding: 24px;
    //.blueTheme, .mat-input-element {
    //  caret-color: #9013FE !important;
    //}
    //.form-field, .mat-focused  {
    //  color: red;
    //  caret-color: #9013FE !important;
    //}
  }
  
  //
  //::ng-deep .form-field.mat-focused .mat-form-field-underline {
  //  //display: none;
  //  color: #31C2A0;
  //}
  //
  //
  //::ng-deep .form-field input {
  //  caret-color: red;
  //  color: yellow;
  //}
  //
  //.mat-form-field-ripple {
  //  background-color: yellow !important;
  //}
  //
  //.mat-form-field.mat-focused .mat-form-field-ripple {
  //  background-color: #69f0ae !important;
  //}
  
  .menu-title {
    font-size: $fs-normal;
    color: $white;
    //caret-color: $yellow;
    margin: 0;
  }
  
  .form-field {
    color: $white;
  }
  
  //.mat-form-field.mat-focused .mat-form-field-label {
  //  color: #00D318 !important;
  //}
  
  .menu-buttons-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  
  .menu-button {
    box-shadow: none;
  
    & + .menu-cancel-button {
      margin-left: 5px;
    }
  }
  
  .menu-cancel-button {
    box-shadow: none;
  
    &:hover {
      background-color: #8B9BFF;
    }
  }
  
  .space {
    margin-bottom: 240px;
  }
  
  