@import '../../../styles/constants.scss';

.status-container {
    min-height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(218, 108, 93);
    table {
        width: 50%;
        border-collapse: collapse;

        td,
        th {
            border: 1px solid $grey;
            padding: 8px;
        }

        td.success {
            font-size: 1.5rem;
        }

        td p {
            margin: 0;
            padding: 0;
        }
    }
}

.status-container.success {
    background-color: lightgreen;
}