.page_header {
    font-size: 1.5rem;
    font-weight: 500;
}

.date_holder {
    margin-top: 3rem;
    border-radius: 5px;

    p {
        padding: 0;
        margin: 0;
    }

}

.user_desc_container {
    background: #eee;
    padding: 0.5rem;
    border-radius: 5px;
}

.admin_reply_contianer {
    margin-top: 0.5rem;
    background: rgb(181, 233, 196);
    padding: 0.5rem;
    border-radius: 5px;
}