@import "../../../styles/constants.scss";

.dialog__title {
  color: $primary-blue;
}

// .form__wrapper {
//    width: 70%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
// }

.form__row {
  display: flex;

  .form__field {
    width: 100%;
    margin: auto 1rem;

    &__half {
      width: 50%;
      margin: auto 1rem;
    }
  }

  @media (max-width: $medium) {
    flex-direction: column;

    .form__field {
      margin: 0;
    }
  }

  @media (max-width: $small) {
    flex-direction: column;

    .form__field {
      margin: 0;
    }
  }
}

.info__icon {
  position: absolute;
  right: 0;
  bottom: 6px;
}

.document__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  box-shadow: 2px 2px 5px #ccc;
  margin: 0.5rem 0;
  padding: 0.5rem;

  .document__name {
    width: 30%;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 500;
    color: $primary-blue;
    opacity: 0.8;
  }

  .document__name.full__width {
    width: 100%;
  }

  .document__field {
    width: 40%;
    margin: 0 1rem;
  }

  .document__upload {
    width: 30%;
    display: flex;
    // border: 1px solid red;

    button {
      padding: 0.5rem;

      border: none;
      outline: none;
      border-radius: 2px;
      cursor: pointer;

      &:hover {
        box-shadow: 4px 4px 8px #ddd;
      }
    }

    button:not(:last-child) {
      margin-right: 0.5rem;
    }

    .upload_button {
      background-color: $gradient1;
      color: #fff;
    }

    .remove_button {
      background-color: $pink;
      color: #fff;
    }

    .preview_button {
      background-color: $yellow;
      color: #fff;
    }
  }

  @media (max-width: $medium) {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    margin-bottom: 1rem;

    .document__name,
    .document__field,
    .document__upload {
      width: 100%;
      margin: unset;
    }

  }

  //   @media (max-width: $small) {
  //     flex-direction: column;
  //     .form__field {
  //       margin: 0;
  //     }
  //   }
}

@media (max-width: $medium) {
  ::ng-deep .mat-step-header .mat-step-label {
    display: none;
  }
}

.steper__label {
  display: none;
  text-align: center;
  font-weight: 500;

  @media (max-width: $medium) {
    display: block;
  }
}


.cta__container {
  margin: 1rem;

  button {
    width: 100%;
  }
}

.kyc_cta_container button {
  width: 100%;
}

// .custom-file-input::-webkit-file-upload-button {
//   visibility: hidden;
// }

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  // display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn-wrapper button {
  font-size: 0.8rem;
}

.ml05 {
  margin-left: 0.5rem;
}


.file_name {
  position: absolute;
  left: -3rem;

  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.passport__info {
  font-size: 0.7rem;
  color: $pink;
  font-style: italic;
}