<h3 mat-dialog-title class="dialog__title">Forgot Password
    <span class="mat__dialog__close__btn" (click)="closeRegDialog()">
        <mat-icon>clear</mat-icon>
    </span>
</h3>

<mat-dialog-content class="mat-typography">
    <div class="form__container">
        <form [formGroup]="forgotPasswordFormGroup" (submit)="sendLink()">
            <div class="form__row">
                <mat-form-field class="form__field" appearance="standard">
                    <mat-label>Enter your registered email id</mat-label>
                    <input matInput type="email" formControlName="email">
                    <!-- <mat-icon class="info__icon" matTooltipClas="mat__tooltip"
                        matTooltip="If you are a e-Sathi provide your admin ref code. If you are a retailer provide your e-Sathi ref code.">
                        info</mat-icon> -->
                    <mat-error *ngIf="getEmailError()">{{getEmailError()}}</mat-error>
                </mat-form-field>

            </div>
            <p class="password__info">
                Password recovery details will be sent to your registered email id. 
            </p>

            <div class="form__row cta__container">
                <button type="submit" [disabled]="disabled" class="btn primary">{{buttonLable}}</button>
                <!-- <a (click)="closeRegDialog()">Cancel</a> -->
            </div>
        </form>
    </div>
</mat-dialog-content>