@import '../styles/constants.scss';

.container {
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    h1, h3 {
        font-size: 1.5rem;
    }

    table {
        margin-bottom: 3rem;
    }
    table tbody td, table tbody th {
        padding: 0.25rem 1rem;
    }
}