<!-- <h4>My Profile</h4> -->

<div class="profile">
    <div class="profile__image__container">
        <img [src]="imageSource" alt="Profile Image" (error)="onError($event)">
    </div>
<div>
    <p class="profile__name">{{personalDetail.user_FName}} {{personalDetail.user_LName}}</p>
    <p class="profile__email">{{registrationDetail.user_EmailID}}</p>
</div>
</div>
    <!-- <p class="profile__lastupdate">Last updated on: 2021-10-23 13:58:29</p> -->


<mat-tab-group class="tabs" dynamicHeight mat-align-tabs="center" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Personal Information"> 
        <div class="info">
            <div class="info__header">
                <p>DOB</p>
                <p>Gender</p>
                <p>Email</p>
                <p>Mobile</p>
                <p>State</p>
                
            </div>
            <div class="info__details">
                <p>{{personalDetail.user_Dob | date : 'mediumDate'}}</p>
                <p>{{personalDetail.user_Gender}}</p>
                <p>{{registrationDetail.user_EmailID}}</p>
                <p>{{registrationDetail.mobile_Number}}</p>
                <p>{{personalDetail.state_Name}}</p>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Bank Details"> 
        <div *ngIf="bankDetails; else notFound" class="info">
            <div class="info__header">
                <p>Bank</p>
                <p>Account Holder</p>
                <p>Account Number</p>
                <p>IFS Code</p>
                <p>Bank Name</p>
            </div>
            <div  class="info__details">
                <p>{{bankDetails.bank_Name}}</p>
                <p>{{bankDetails.userAccount_HolderName}}</p>
                <p>{{bankDetails.user_Account_Number}}</p>
                <p>{{bankDetails.user_IFSCCode}}</p>
                <p>{{bankDetails.user_BranchName}}</p>
            </div>
        </div>
        <ng-template #notFound>
            <div class="mt-4 d-flex justify-content-center">
                <p>Bank details not found. Please update in Update Profile Tab.</p>
            </div> 
        </ng-template>
    </mat-tab>
    <mat-tab label="Adhar, PAN & GSTIN"> 
        <div class="info">
            <div class="info__header">
                <p>PAN</p>
                <p>GSTIN</p>
                <p>ADHAR No.</p>
            </div>
            <div *ngIf="kycDetails" class="info__details">
                <p>{{kycDetails?.pancard_Number}}</p>
                <p>{{kycDetails?.gsT_Number}}</p>
                <p>{{kycDetails?.aadhar_Number}}</p>
            </div>
        </div> </mat-tab>
</mat-tab-group>